@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 1.4rem;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 43px;
  line-height: 64px;

  color: #1b5a7d;
}
h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 27.38px;
  line-height: 41px;
  /* identical to box height */

  color: #1b5a7d;
}
